.hero {
  position: relative;

  min-height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding-top: 100px;

  overflow: hidden;

  &__inner {
    display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap: nowrap;
  }

  &__logo {
    font-size: clamp(20px, 4vw, 32px);
    font-weight: 800;
    color: $accent-blue;
    white-space: nowrap;
  }

  &__nav {
  display:flex;
  gap: clamp(6px, 2vw, 48px);
  }

  &__link {
    color: $text-white;
    text-decoration: none;
    font-size: clamp(12px, 2vw, 17px);
    font-weight: 500;
    white-space: nowrap;

    &:hover {
      color: $accent-blue;
    }
  }
}

.hero__bg-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, $gradient-start, $gradient-end);
  z-index: 1;
}

.hero__clouds {
  position: absolute;
  inset: 0;
  background: url('../images/image-removebg-preview (5).png') center/cover no-repeat;
  filter: blur(8px);
  opacity: 0.52;
  z-index: 2;
}

.hero__content {
  z-index: 3;
  text-align: center;
}

.current {
  position: relative;
}

.current-weather__temperature {
 font-size: clamp(80px, 15vw, 200px);
  position: relative;
  display: inline-block;
  color: $temp-dark;

  &::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    background: url('../images/photo_2026-02-27_21-31-07-removebg-preview.png') no-repeat center/contain;
    bottom: -20px;
    right: -20px;
    pointer-events: none;
  }
}

.current-weather__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;         
  margin-top: 2px; 
 padding-top: clamp(5px, 2vw, 20px);
  padding-bottom: 30px;
  line-height: 1.6;   
}

.current-weather__city {
  font-weight: 700;
 font-size: clamp(20px, 3vw, 30px);
  line-height: 1.8;
}

.current-weather__feels,
.current-weather__condition {
  font-size: 24px;
  opacity: 0.92;
  margin: 0;          
}


.params-panel {
  background: $panel-bg;
  backdrop-filter: $blur-strong;
  border-radius: 60px;
  border: 3px solid rgba(8, 47, 114, 0.914);
  display: inline-flex;
  gap: clamp(15px, 4vw, 50px);
  padding: clamp(10px, 2vw, 20px) clamp(12px, 3vw, 25px);
  box-shadow: 0 28px 80px rgba(0,0,0,0.3);
}


.params-panel__item:nth-child(1) .params-panel__icon {
  background: url('../images/image-removebg-preview (6).png') center/contain no-repeat;
   width: clamp(32px, 5vw, 60px);
  height: clamp(32px, 5vw, 60px);
}

.params-panel__item:nth-child(2) .params-panel__icon {
  background: url('../images/image-removebg-preview (7).png') center/contain no-repeat;
  width: clamp(32px, 5vw, 60px);
  height: clamp(32px, 5vw, 60px);
  position: relative; 
  top: -5px;          
}

.params-panel__item:nth-child(3) .params-panel__icon {
  background: url('../images/image-removebg-preview (8).png') center/contain no-repeat;
   width: clamp(32px, 5vw, 60px);
  height: clamp(32px, 5vw, 60px);
}

.params-panel__icon {
  width: clamp(32px, 5vw, 60px);
  height: clamp(32px, 5vw, 60px);
  margin-bottom: clamp(6px, 1vw, 18px);
  fill: $text-icon;
  opacity: 0.95;
}


.params-panel__value {
  font-size: clamp(14px, 1.4vw, 20px);
  font-weight: 700;
  display: block;
  color: #1C2D99;
  margin-bottom: 10px;
}


.params-panel__label {
  font-size: clamp(10px, 1.2vw, 15px);
  text-align: center;
  color: #1C2D99;
  opacity: 0.8;
  font-weight: 200;
  
}
.temp-graph {
  margin-top: 60px;
 width: clamp(220px, 60vw, 520px);
}


.temp-graph__line {
  position: relative;
  height: 120px;

  
  &::before {
    content: '';
    position: absolute;
    inset: 0;

    background: linear-gradient(
      90deg,
      #ff4fd8 0%,
      #ff4fd8 25%,
      #ff7a5c 45%,
      #ffa534 60%,
      #ffd84d 75%,
      #ffe95c 100%
    );

   
    clip-path: polygon(
      0% 90%,
      12% 65%,
      25% 72%,
      38% 60%,
      50% 25%,
      60% 55%,
      70% 25%,
      80% 55%,
      90% 50%,
      100% 60%,
      100% 100%,
      0% 100%
    );

    border-radius: 4px;
  }
}


.temp-graph__dot {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);

 
  width: 6px;
  height: 6px;
  background: #401786;
  border-radius: 50%;

 
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);

    width: 1px;
    height: 25px; 
    background: repeating-linear-gradient(
      to bottom,
      #000 0 3px,
      transparent 3px 6px
    );
    opacity: 0.5;
  }
}


.temp-graph__hours{
  display:flex;
  justify-content:space-between;
  width:100%;
  max-width:520px;
  margin-top:10px;
  color:white;
  font-size: clamp(9px, 1.2vw, 14px);
}
