.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 20px 0;
  background: rgba(21, 96, 167, 0.419);
  backdrop-filter: $blur-light;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
  font-size: clamp(18px, 3vw, 32px);
    font-weight: 800;
    color: $accent-blue;
  }

  &__nav {
    display: flex;
    gap: clamp(10px, 4vw, 48px);
  }

  &__link {
    color: $text-white;
    text-decoration: none;
     font-size: clamp(12px, 1.4vw, 17px);
    font-weight: 500;

    &:hover {
      color: $accent-blue;
    }
  }
}