.search-bar {
 width: clamp(220px, 50vw, 440px);
  margin: 20px auto 0;
  background: $panel-bg;
  backdrop-filter: $blur-strong;
  border-radius: 60px;
  border: 1px solid rgba(255,255,255,0.22);
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 12px 40px rgba(0,0,0,0.2);

  &__input {
    flex: 1;
   
    background: transparent;
    border: none;
    color: $text-white;
    font-size: clamp(12px, 1.4vw, 18px);
  padding: clamp(10px, 1.5vw, 18px) clamp(12px, 2vw, 20px);

    &::placeholder {
      color: $text-muted;
    }
  }

  &__btn {
   width: clamp(36px, 4vw, 60px);
  height: clamp(36px, 4vw, 60px);
    background: $accent-blue url('../images/завантаження (2).png') center/40px no-repeat;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}